body {
  background-color: whitesmoke;
}
.test {
  margin: 2px;
  padding: 2px;
}
#content {
  padding-left: 200px;
}
#left-sidebar {
  float: left;
  width: 200px;
}
#content-wrap {
}
.page-block {
  background-color: whitesmoke;
  padding: 24px;
  margin: 10px;
  border: 1px solid #7777;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 10px);
  border-radius: 2px;
}
#motto {
  color: darkgreen;
}

#top-menu-bar {
  text-align: center;
  color: #fff;
  background-color: #334455;
}
#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#top-menu-bar a {
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin: 2px 0 2px 0;
}
#top-menu-bar a:visited {
  color: #ffffff;
}
#top-menu-bar a:hover {
  color: #334455;
  background-color: #ffffff;
}

.favorite {
  font-weight: bold;
}
